# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Build files
/dist
/build
/frontend/build
/backend/dist

# Editor settings
.vscode/
.idea/
.DS_Store

# Cache
.cache/
